<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>

  <style>
    body  {background-color: rgb(209, 210, 207)}
  </style>
  <link rel="stylesheet"  href="static/home.css"/>
</head>
<body >

  <h1>Toolstation Blijdorp</h1>
  <p style="color: yellow;">hier zie je alles over toolstation blijdorp</p>
  <div >
    <p>zoek wat je wil</p>
    <form action="" title="zoek">
      <input type="text">
    </form>
  </div>
<br>
  <div class="div1">

  </div>
  
  <div class="div2">
 <a href="/login2">login</a>
  </div>
 
</body>
</html>