<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://kit.fontawesome.com/434950a6f2.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="static/TailPage.css" />
</head>

<body>

  <div class="divLogo">
    <h1>Toolstation</h1>
  </div>

  <div class="div22">
    <div class="div234">
      <i class="fa-solid fa-circle-exclamation  fa-2x"></i>
    </div>
  </div>

  <br>

  <div  id="div23" class="div23">
      
    <div class="div25">

    </div>
    <button id="button2" onclick="clickme()" class="button">add</button>
  </div>
  <br>
  
  <br>

<button onclick="getProducts()">click</button>
<div id="products"></div>


<script>

function clickme(){
  const newDiv2 = document.createElement("div")
  newDiv2.classList.add("div23")
  document.getElementById("div23").appendChild(newDiv2)

  const addDiv = document.createElement("div")
  addDiv.classList.add("div25")
  document.getElementById("div23").appendChild(addDiv)

  const button2 = document.createElement("button")
  button2.classList.add("button")
  button2.innerText = "add"
  document.getElementById("button2").appendChild(button2)  
}

async function getProducts(){
  const url = "http://127.0.0.1:8000/products";

  try {
    const response = await fetch(url);
    if (!response.ok){
      throw new Error(`Response status:${response.status}`);

    }
    const result = await response.json();
    console.log(result);
    document.getElementById("products").innerHTML = `<p>${JSON.stringify(result)}</p>`
  }
  catch(error){
    console.error(error.message)

  }
}


</script>
</body>

</html>