<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://kit.fontawesome.com/434950a6f2.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="static/TailPage.css" />
</head>

<body>

  <div class="divLogo">
    <h1>Toolstation</h1>
  </div>

  <div class="div22">
    <div class="div234">
      <i class="fa-solid fa-circle-exclamation  fa-2x"></i>
    </div>
  </div>

  <br>

  <div id="div23" class="div23">
      
    <div id="div25" class="div25">
       
    </div>
    <button onclick="clickme()" class="button">add</button>
  </div>
  
  <br>



<script>

function clickme(){
  const newDiv2 = document.createElement("div")
  newDiv2.classList.add("div25")
  document.getElementById("div25").appendChild(newDiv2)
  
  const newDiv = document.createElement("div")
  newDiv.classList.add("div23")

  document.getElementById("div23").appendChild(newDiv)
  
}


</script>
</body>

</html>