<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://kit.fontawesome.com/434950a6f2.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="static/TailPage.css" />
</head>

<body>

  <div class="divLogo">
    <h1>Toolstation</h1>
  </div>

  <div class="div22">
    <div class="div234">
      <i class="fa-solid fa-circle-exclamation  fa-2x"></i>
    </div>
  </div>

  <br>

  <div class="div23">
      <button onclick="clickme()" class="button">add</button>
    <div class="div25">
    </div>
  </div>
  <p id="demo"></p>
  <br>

  <button onclick="clickme()">pop</button>
  <p id="new2"></p>

<script>

function clickme(){
  const newDiv = document.createElement("div")
  newDiv.classList.add("div23")

  document.body.appendChild(newDiv)

 
}

function testfunction(){

  const newHtml = document.createElement("h1")
  newHtml.innerText = "hello there"
  document.body.appendChild(newHtml)
    


 
  
  
}

</script>
</body>

</html>